/* #region Estilos originales */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
/* #endregion */

/* #region Estilos propios */
*, *::before, *::after{
    box-sizing: border-box;
}
:root {
    --var-color-primario: #1A4BFF;
    --var-color-secundario: #0F172A;
    --var-color-terciario: #EAB308;
    --var-color-texto: #0F172A;
    --var-color-gris-osc: #475569;
    --var-color-gris-clar: #F1F5F9;
}
@font-face {
    font-family: 'Roboto';
    src: url('/Resources/Fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'RobotoBold';
    src: url('/Resources/Fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoLight';
    src: url('/Resources/Fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal
}
@font-face {
    font-family: 'RobotoSemiBold';
    src: url('/Resources/Fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal
}
a{
    text-decoration: none;
}
body{
    margin: 0px;
}
h1{
    font-family: RobotoBold;
    font-size: 2.5rem;
    margin: 0px;
}
h2 {
    font-family: RobotoBold;
    font-size: 1.7rem;
    margin: 0px;
}
h3 {
    font-family: RobotoSemiBold;
    font-size: 1.3rem;
    margin: 0px;
}
span {
    font-family: Roboto;
    font-size: 1rem;
    color: var(--var-color-gris-osc);
    margin: 0px;
}
/* #endregion */


/* #region Navbar */
nav{
    padding: 0rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: solid 1px var(--var-color-gris-osc)
}

.nombre-empresa{
    font-family: RobotoSemiBold;
    color: var(--var-color-texto);
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.nav-icon{
    font-size: 1.5rem;
    color: var(--var-color-texto);
}
.nav-btn{
    background-color: var(--var-color-gris-clar);
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    transition: all ease 0.3s;

    &:hover{
        background-color: rgba(26,75,255, 0.2);
    }
}
.cart-log-container{
    display: flex;
    gap: 1rem;
}

.nav-links {
    display: none;
    transition: all ease 0.3s;
}
.nav-links.active {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem 0rem;
    transition: all ease 0.3s;
}
.nav-link{
    font-family: Roboto;
    color: var(--var-color-texto);
    transition: all ease 0.3s;

    &:hover{
        color: var(--var-color-primario);
    }
}
.menu-btn{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
}
.active .linea:first-of-type {
        transform: translate(0%, 180%) rotate(-45deg);
    }
.active .linea:last-of-type {
    transform: translate(0%, -180%) rotate(45deg);
}
.active .linea:nth-last-of-type(2) {
    display: none;
}
.linea {
    width: 2rem;
    height: 3px;
    background-color: var(--var-color-gris-osc);
    border-radius: 10px;
    transition: all ease 0.3s;
}
.inicio-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}
/* #endregion */

/* #region main */
main{
    padding: 0rem 1rem;
    background-color: var(--var-color-gris-clar);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* #region Banner */
.banner{
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
    max-width: 900px;
}

.img-banner {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.banner-texto{
    display: flex;
    flex-direction: column;
}
.btn-principal {
    border: none;
    background-color: var(--var-color-primario);
    max-width: 200px;
    height: 3rem;
    font-family: RobotoSemiBold;
    font-size: 1.3rem;
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);

    &:hover {
        background-color: rgba(26,75,255, 0.9);
    }
}
/* #endregion */

/* #region Nuevos productos */
.nuevos-prods-cont{
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo-prods {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0rem;
    gap: 1rem;
    width: 100%;
}
.enlace{
    font-family: Roboto;
    color: var(--var-color-primario);

    &:hover{
        text-decoration: underline;
    }
}
.prod-img {
    width: 100%;
}
.producto-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: relative;
    cursor: default;
}
.titulo-prod{
    font-size: 1rem;
}
.productos-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    transition: ease 0.2s;
    justify-items: center;
}
.prod-img-cont {
    width: 100%;
    max-width: 350px;
    border-radius: 15px;
    aspect-ratio: 1/1;
    overflow: hidden;
    position: relative;
}
.prod-img {
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    transition: ease 0.3s;
    object-fit: cover;
    object-position: 50% 50%;
}
.oferta-tag{
    position: absolute;
    z-index: 1;
    background-color: var(--var-color-primario);
    color: white;
    width: 4rem;
    height: 1.5rem;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    top: 5%;
    left: 5%;
}
.agregar-btn {
    border: none;
    border-radius: 5px;
    background-color: white;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--var-color-primario);
    box-shadow: 0px 0px 10px;
    position: absolute;
    left: 80%;
    top: 90%;
    transition: all ease 0.2s;
    opacity: 0;

    &:hover {
        background-color: var(--var-color-gris-clar);
    }
}
.producto-card:hover .agregar-btn {
    top: 80%;
    opacity: 1;
}
.producto-card:hover .prod-img {
    transform: scale(1.1);
}
.producto-card:hover .titulo-prod {
    color: var(--var-color-primario);
}
.precio-cont{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}
.precio-prod{
    font-size: 1.3rem;
    color: var(--var-color-texto);
    font-family: RobotoBold;
}
.precio-anterior{
    text-decoration-line: line-through;
}

/* #endregion */

/* #endregion */


/* #region Suscripcion */
.suscripcion-container {
    margin: 2rem 0rem;
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.suscripcion-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.suscripcion-input{
    height: 3rem;
    border-radius: 10px;
    border: none;
    background-color: var(--var-color-gris-clar);
}
/* #endregion */


/* #region Estilos originales */
/* #endregion */

@media(min-width: 768px){
    .menu-btn{
        display: none;
    }
    .nav-links-container{
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }
    .nav-links {
        display: flex;
        gap: 1rem;
    }

    nav {
        padding: 0rem 3rem;
    }
    main {
        padding: 0rem 3rem;
    }
    .productos-container {
        grid-template-columns: 1fr 1fr;
    }

}

@media(min-width: 1024px){
    nav {
        padding: 0rem 8rem;
    }
    main {
        padding: 0rem 10rem;
    }
    .banner{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .img-banner-cont{
        max-width: 500px;
    }
    .banner-texto{
        display: flex;
        flex-direction: column;
    }
    .productos-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        
        /*grid-template-columns: repeat(4, minmax(0, 1fr));*/
    }
}